*{
    margin: 0;
}
body{
    background: rgb(13, 25, 43);
}
main{
    background-color: rgb(20, 37, 61);
    width: 300px;
    margin: auto;
    margin-top: 15vh;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px 20px #000000;
    border: 1px;
    display: flex;
    gap: 10;
    flex-direction: column;

}
.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
section{
    display: flex;
    align-items: center;
    gap: 10px;
}